<!DOCTYPE html>
<html>
<head>
    <title> Oh&Chung - {{ title }} </title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1><a href="/">Oh&Chung</a></h1>

    <h2> 회원가입 </h2>
    <form action= "/createmember" method = "post">
        <!-- {% for el in columns %}
            <p><input type="text" name = "{{ el.name }}" placeholder="{{ el.placeholder }}"></p>
        {% endfor %} -->
        <p><input type="text" name = "nickname" placeholder="USER ID"></p>
        <p><input type="text" name = "pw" placeholder="Password"></p>
        <p><input type="text" name = "repw" placeholder="Retyping Password"></p>
        <p><input type="text" name = "name" placeholder="Name"></p>
        <p><input type="text" name = "profile" placeholder="Profile"></p>
        <p><input type="text" name = "birthdate" placeholder="Birthdate"></p>

        <button type = "submit">회원가입</button>
    </form>
    {{message}}
</body>
</html>