<!DOCTYPE html>
<html>
<head>
    <title> Oh&Chung - {{ title }} </title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h1><a href="/">Oh&Chung -{{ id }} </a></h1>
    <div id="container">
        <div>
            <ol>
                {{ menu | safe }}
            </ol>
        </div>
        <div>
            {{ content | safe }}
        </div>
        <div>
            <a href = "/logout">logout</a>
        </div>
    </div>
</body>
</html>